<div class="row">
  <div class="large-12 columns letterhead">
    <div id="mast"></div> <br>
    <div class="row">
  <div class="small-6 large-4 columns">
    <img src="http://tibet.net/wp-content/uploads/2011/09/2-300x209.png"><br>

    Lodi Gyari Rinpoche</div>
  <div class="small-1 large-4 columns"></div>
  <div class="small-5 large-4 columns" align="right"><%= link_to_unless_current "བོད་ཡིག་", statements_mwatib_path%> | <%= link_to_unless_current "English", statements_mwaeng_path%></div>
</div>
<hr>
  

    <h3>Statement of Lodi Gyari Rinpoche </h3>
    <hr>
          <p> ཨོཾ་སྭཱ་སྟི། རབ་འབྱམས་ཚེ་ལྷ་རྒྱ་མཚོའི་བྱིན་མཐུས་ལས། །
མཁྱེན་བརྩེ་ཡེ་ཤེས་རྡོ་རྗེ་སྲིད་པའི་གར། །
ཐུབ༵་བསྟན་ཉི་མ༵འི་མཚན་ཅན་༧ཞབས་ཟུང་བརྟན། །
བསྟན་འགྲོར་སྨན་པའི་བཞེས་དོན་ཡོངས་འགྲུབ་ཤོག །
ཅེས་པའང་ལས་རབ་གླིང་གི་བསོད་རྒྱལ་རིན་པོ་ཆེས་དབུས་རིག་པ་ཆོས་ཚོགས་ནས་རྟེན་བཅས་བསྐུལ་མ་གནང་བ་བཞིན་རང་ཉིད་ཀྱང་གུས་སྤྲོས་རྟགས་ཙམ་གྱི་ཤྭཀྱའི་དགེ་སྦྱོང་ངག་དབང་ཆོས་ཀྱི་བློ་གྲོས་སུ་འབོད་པས ༢༠༠༥ ཤིང་བྱ་ཟླ་ཚེས་དགེ་བར་བྲིས་ཤིང་ ༡༠ ༦ སྨོན་པ་ཛ་ཡནྟུ།། །།
There was much for the ICT Board to consider – the extended reach of the protests, the implementation of oppressive policies across Tibetan regions, the willingness of more and more Tibetans to confront the authorities, and the often brutal response by the Chinese armed police and military. ICT President Mary Beth Markey assured the Board that the entire ICT organization would use every resource available to get the facts and analysis of events in Tibet out to the general public, media and policymakers with the intention of persuading China to change its policies and practices in Tibet. We all resolved to work together with extra effort so that the international community and particularly world leaders understand that the Tibetans are rising up against oppression and mis-rule and that, therefore, it is only the Chinese authorities who can bring this tragic situation to a close. <br> <br>
The Board also discussed the status of the dialogue process and was dismayed with the PRC’s shortsightedness in responding to our sincere efforts, particularly at a time when the situation in Tibet is so dire. In this context the leadership succession in the People’s Republic of China beginning this fall and the wait for it to take hold could be particularly frustrating for those seeking positive change in China and Tibet.
Let me conclude by saying that you have a dedicated and professional team working on your behalf at the International Campaign for Tibet, and I look forward very much to continuing my close association with them. As stated above, the success of Dr. Lobsang Sangay and the Central Tibetan Administration is crucial for fulfilling the vision of His Holiness the Dalai Lama. We must all maximize our efforts at this critical time. I ask you to join me. <br> <br>
Lodi Gyaltsen Gyari <br>
Executive Chairman of the Board
</p>
    </div>
    </div>

      <div class="row">
  <div class="large-12 columns comments">
    <p><font size="2" color="grey"><em>Off-topic, blatantly inflammatory, inappropriate or vapid comments may be removed by the moderator. Repeat offenders will be banned. Let’s add value to the conversation. Thank you. </em></font></p></div></div>
    